.container{
    background: linear-gradient(black,gray);
    box-shadow: 0 0 5px 5px gray;
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    flex-direction: column;
    gap:2rem;
}
.counterHeading{
    color:rgb(0, 145, 255);
    font-weight: bold;
    font-size:40px;
}
.counterDisplay{
    color:green;
    font-weight: bold;
    font-size:70px;
    
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}
.btn button{
    border:4px solid gray;
    box-shadow:2px 2px 2px 2px gray;
    background-color: transparent;
    color:white;
    font-weight: bold;
    padding: 8px 16px;
    width: 100px;
    border-radius:5px;
}
.btn button:hover{
    background-color: rgba(128, 128, 128, 0.01);
    color:white;
    transition: 1s all;
}